@use '@/shared/styles/variables/index' as *;

.detailsNotice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c9daff;
  background-color: #ebf4ff;
  color: #255580;
  line-height: 140%;
  font-size: 18px;
  padding: 4px;
  margin: 16px 0;

  p {
    padding: 16px 0;
  }

  button {
    border-radius: 100px;
    font-size: $font-button-large;
    font-weight: $font-weight-medium;
    line-height: 100%;
    border: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    &.allOpenButton {
      border: 1px solid #2b90ef;
      background: linear-gradient(95deg, #fff 0%, rgba(255, 255, 255, 0.4) 100%);
      color: #0068cc;
    }

    &.allCloseButton {
      background: linear-gradient(95deg, #2b90ef 0.37%, #0068cc 100.37%);
      color: $text-white;
      border: none;
    }
  }
}

.allFloorContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  position: relative;
  margin-bottom: 18px;

  .floorContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #dae7f6;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 0 0 10px 0 rgba(134, 178, 235, 0.25);
    padding: 28px 24px;

    &.open {
      padding: 24px;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      cursor: pointer;
    }

    .titleBox {
      display: grid;
      grid-template-columns: 1fr auto 1fr; // 좌측, 중앙, 우측 영역
      align-items: center;
      color: $text-dark-gray;

      .title {
        display: flex;
        flex-direction: row;
        gap: 10px;
        grid-column: 1; // 첫 번째 그리드 영역 (좌측)

        p {
          font-size: 23px;
          font-weight: $font-weight-bold;
        }
        span {
          font-size: 18px;
          font-weight: $font-weight-medium;
        }
      }

      .badgeBox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        grid-column: 2; // 두 번째 그리드 영역 (중앙)
        justify-self: center; // 중앙 정렬

        .badge {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 16px;
          border-radius: 100px;
          background-color: #ebf4ff;
          font-size: $font-body-primary;

          .badgeTitle {
            margin-left: 8px;
            margin-right: 12px;
            color: #5a6e7b;
            font-weight: $font-weight-semibold;
          }

          .badgeValue {
            color: #28395d;
            font-weight: $font-weight-extrabold;
          }
        }
      }
    }

    .floorInfo {
      display: flex;
      flex-direction: row;
      margin-top: 18px;
      width: 100%;

      .floorImage {
        margin: 0 48px;
        width: 100%;
        max-width: 487px;
      }

      .lineChartContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        height: 100%;

        .floorNumber {
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 16px;
          font-weight: $font-weight-extrabold;
          color: $text-light-gray;
          letter-spacing: -0.48px;
          position: relative;
          bottom: -10px;
          margin-bottom: 12px;
        }

        :global(.recharts-legend-wrapper) {
          top: -36px !important;
        }
      }
    }
  }
}

.collapseButton {
  border: none;
  background: none;
  padding: 5px 10px;
  grid-column: 3; // 세 번째 그리드 영역 (우측)
  justify-self: end; // 우측 정렬
}
